<html>
<head>  
<link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet">
<script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>  

    var ws = new WebSocket("ws://127.0.0.1:9100/ws"); 
    ws.onmessage = function(event){
        $("#show").html("");
        var result = $.parseJSON(event.data);
        if (result) {
            $("#show").append("<p>"+result.name+"</p>");
            for(var key in result.data) {
                $("#show").append("<p>"+key+':'+result.data[key]+"</p>");
            }
        }
    }
 
    

</script>
</head>
<body>
    <div id="show"></div>
</body>
</html>